@model clsData_VM //To Complete Data

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gis Project || العقود</title>

    <!-- Page Logo -->
    <link rel="icon" type="image/x-icon" href="Images/ticket (1).png" />



    <!-- DataTable CDN CSS -->
    <link rel="stylesheet" href="~/Css/bootstrap_452.min.css" />
    <link rel="stylesheet" href="~/Css/dataTables_bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Css/bootstrap.min.css">

    <!-- Font Awesome Page -->
    <link rel="stylesheet" href="~/Css/all.min.css" />
    <!-- Global Style Page -->
    <link rel="stylesheet" href="~/Css/global.css" />
    <!-- Main Style Page -->
    <link rel="stylesheet" href="~/Css/home.css" />
    <!-- Main Style Page -->
    <link rel="stylesheet" href="~/Css/adminGlobal.css" />

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Toastr CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <!-- Toastr JS-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</head>

<body>
    <main>

        <!-- Start Header -->
        <header>
            <div class="container-fluid   ">
                <div class="burger-list">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <img class="logoo" src="~/Images/master-card-pay.svg" alt="Eventix Logo" />
                <ul class="menu-bar">
                    <li><a href="/Home/index">الرئيسية</a></li>
                </ul>

                <partial name="_LoginPartial" />

            </div>
        </header>
        <!-- End Header -->

        <div class="main-page">
            <!-- Start SideBar Menu -->
            <partial name="_AdminPartil" />
            <!-- End SideBar Menu -->
            <!-- Start Page Content -->
            <div class="content  ">

                <div class="content-container ">
                    <div class="table-header">
                        <a href="/Contract/Create" class="btn-add">
                            <i class="fa-solid fa-plus"></i>
                            <span>إضافة عنصر</span>
                        </a>
                        <!-- Start Search Bar -->
                        <div class="searcher">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" id="searchInput" placeholder="بحث" />
                            <a href="#">إبحث</a>
                        </div>
                        <!-- End Search Bar -->
                    </div>
                    <!-- Start DataTable -->
                    <table id="example" class="table table-striped table-bordered" style="width: 100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>مسلسل</th>
                                <th>المستأجر</th>
                                <th>قيمة القسط</th>
                                <th>البدايه</th>
                                <th>عددالاقساط</th>

                                <th>إضافة</th>
                                <th>التاريخ</th>
                                <th>تعديل</th>
                                <th>التاريخ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Contracts)
                            {
                                <tr>
                                    <td>
                                        <a href="/Contract/Update/@item.Id" class="edit-btn">
                                            <i class="fa-solid fa-pen text-black"></i>
                                        </a>
                                    </td>

                                    <td>
                                        <a href="@Url.Action("Delete", "Contract", new { id = item.Id })"
                                           class="text-black btn-sm delete-job">

                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </td>

                                    <td>@item.Id</td>
                                    <td>@item.TenantName</td>
                                    <td>@item.MonthlyInstallment</td>
                                    <td>@item.StartDate</td>
                                    <td>@item.TotalInstallments</td>

                                    <td>@item.CreatedBy?.FUllName</td>
                                    <td>@item.CreatedAt</td>
                                    <td>@item.UpdatedBy?.FUllName</td>
                                    <td>@item.UpdatedAt</td>



                                </tr>
                            }

                        </tbody>
                    </table>
                    <!-- End DataTable -->
                </div>
            </div>
            <!-- End Page Content -->
        </div>
    </main>

    <!-- Start Footer -->
    <footer>
        <div class="copyright">
            حقوق النشر &copy; 2025 . كل الحقوق محفوظة.
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Start Scroll To Top -->
    <span class="scroll-top">
        <i class="fa-solid fa-angle-up"></i>
    </span>
    <!-- End Scroll To Top -->
    <!-- Start Language And DarkMode -->
    <div class="setting">
        <i class="fa-solid fa-moon dark-mode"></i>
    </div>
    <!-- End Language And DarkMode -->
    <!-- Start Alert Delete -->
    <div class="dlt-alert">
        <span class="exit-btn">
            <i class="fa-solid fa-xmark"></i>
        </span>
        <div class="icon"><i class="fa-regular fa-trash-can"></i></div>
        <h3>أنت علي وشك حذف العنصر</h3>
        <p>سيتم حذف كل بيانات هذا العنصر نهائياً <span>هل أنت متأكد؟</span></p>
        <div class="dlt-btns">
            <button class="cls">إلغاء</button>

            <form class="d-inline-block" method="post" asp-controller="Category" asp-action="Delete">

                <input type="number" value="3" name="Id" id="Id" hidden />


                <button class="dlt">حذف</button>
            </form>

        </div>
    </div>
    <!-- End Alert Delete -->
    <div class="alert-overlay"></div>


    <!-- Textarea Editor JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- DataTable JS CDN -->
    <script src="~/Js/jquery.js"></script>
    <script src="~/JS/jquery_dataTables.js"></script>
    <script src="~/JS/dataTables_bootstrap4.js"></script>
    <script>
        new DataTable("#data-table");
    </script>
    <!-- Home Js File -->
    <script src="~/JS/global.js"></script>
    <!-- Home Js File -->
    <script src="~/JS/adminGlobal.js"></script>
    <script>
        // ===== Confirm Delete =====
        $('.delete-job').on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        if (confirm('هل أنت متأكد من حذف هذا العنصر?')) {
        window.location.href = url;
        }
        });
    </script>
</body>

</html>